<div class="login d-flex flex-column align-items-center mt-5">
  <div
    class="m-5 p-5 border"
    style="width: 500px; background-color: rgba(255, 255, 255, 0.964);"
  >
    <h1 class="text-center mb-4">Register</h1>
    {{> message}}
    <form action="/users/register" method="post">
      <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input
          type="Name"
          class="form-control"
          id="Name"
          placeholder="Enter Your Name"
          name="name"
          value="{{name}}"
        />
      </div>
      <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="Email"
          placeholder="Email"
          name="email"
          value="{{email}}"
        />
        {{#if errorMessage}}
        <p class="text-danger">{{errorMessage}}</p>
        {{/if}}
      </div>
      <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="Password"
          placeholder="Password"
          name="password"
          value="{{password}}"
        />
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Enter Password Again"
          name="confirmPassword"
          value="{{confirmPassword}}"
        />
      </div>
      <div class="d-flex justify-content-center my-4">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
      <p class="lead">Already Have An Account?
        <a href="/users/Login"> Login</a></p>
    </form>
  </div>
</div>